@font-face {
	font-family: "PublicSans-Bold";
	src: url("../../fonts/PublicSans-Bold.ttf") format(truetype);
     font-weight: 700;
}

@font-face {
	font-family: "PublicSans-Regular";
	src: url("../../fonts/PublicSans-Regular.ttf") format(truetype);
     font-weight: 400;
}

@font-face {
	font-family: "RobotoMono-Regular";
	src: url("../../fonts/RobotoMono-Regular.ttf") format(truetype);
     font-weight: 400;
}

@font-face {
	font-family: "DMSerifDisplay-Regular";
	src: url("../../fonts/DMSerifDisplay-Regular.ttf") format(truetype);
     font-weight: 400;
}

@font-face {
	font-family: "PublicSans-Thin";
	src: url("../../fonts/PublicSans-Thin.ttf") format(truetype);
     font-weight: 300;
}
